/*#target{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    display: inline-block;
    animation-name: growShrink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}*/
.container{
    width: 800px;
    height: 480px;
    background-size: cover;
    display: flex;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: shrink;
    animation-duration: 1s;
}

.targetImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    animation-name: growShrink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes shrink {
    0%{transform: scale(1)}
    100%{transform: scale(0); display: none}
}

@keyframes growShrink {
    0% {transform: scale(0)}
    50%{transform: scale(1)}
    100%{transform: scale(0); display: none}
}